@font-face {
  font-family: 'Raleway-Heavy';
  src:url('Raleway-Heavy.ttf.woff') format('woff'),
      url('Raleway-Heavy.ttf.svg#Raleway-Heavy') format('svg'),
      url('Raleway-Heavy.ttf.eot'),
      url('Raleway-Heavy.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: 400px;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 1500px;
  margin: 0 auto;

}
.wrapper {
  background: url(../image/background-img.png) no-repeat;
}

/*Header*/
.header { 
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.header-logo { 
  color: #262626;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
}

.header-menu { 
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  margin-left: 160px;
}

.header-menu__menu { 
  display: flex;
  list-style: none;
}

.header-menu__menu li {
  margin-left: 40px;
}

.header-menu__menu a{
  color: #262626;
  text-decoration: none;
}

.header-menu__menu-active li:nth-child(1){
  display: block;
  height: 3px;
  background-color: #ff6033;
}

.header-menu__menu li:first-child{
  margin-left: 0;
}

.header-menu__menu li a:hover{
  display: block;
  height: 3px;
  background-color: #ff6033;
}

.header-menu__menu li:nth-child(2):hover{
  display: block;
  height: 3px;
  background-color: #ff6033;
}

.header-menu__menu li:nth-child(3):hover{
  display: block;
  height: 3px;
  background-color: #ff6033;
}

.header-menu__menu li:nth-child(4):hover{
  display: block;
  height: 3px;
  background-color: #ff6033;
}

.header-menu__menu li:nth-child(5):hover{
  display: block;
  height: 3px;
  background-color: #ff6033;
}

.header-menu__menu li:nth-child(6):hover{
  display: block;
  height: 3px;
  background-color: #ff6033;
}

/*Main block*/
.main-block { 
  margin-top: 320px;
  margin-left: 170px;
}

.main-block__title {
  color: #262626;
  font-family: 'Raleway-Heavy';
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  margin-bottom: 34px;
}

.main-block__text { 
  width: 368px;
  height: 70px;
  color: #262626;
  font-family: 'Raleway';
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
}

.main-block__buttom { 
  width: 200px;
  height: 55px;
  display: block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #ff6033;
  margin-top: 31px;
}

.buttom {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 15px 0px 15px 0px;
  text-decoration: none;
}

.buttom:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  top: 3px;
}

.footer-img { 
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

footer div{
  padding: 10px 0px 30px 0px;
}

/*About*/
.about { 
  height: 700px;
  background-color: #00c4c4;
  background-image: radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 70px;
}

.about-img { 
  width: 566px;
  height: 559px;
}

.about-content{
  align-self: center;
}

.about-content__title{
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 90px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  margin-bottom: 34px;
}

.about-content__text { 
  width: 499px;
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
}

/*Blog*/
.blog{
  height: 864px;
  margin: 0 auto;
  background-color: #b07cf7;
} 

/*Header*/

.header__title { 
  color: #ffffff;
  font-family: "Raleway";
  font-size: 90px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 90px;
}

.header__text { 
  width: 563px;
  height: 66px;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: center;
  margin: auto;
}

/*Main*/
.blog-main { 
  display: flex;
  justify-content: space-evenly;
  margin-top: 47px;
  margin-bottom: 50px;
}

.blog-main__logo { 
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #262626;
  opacity: 0.8;
  margin-top: 30px;
  margin-left: 30px;
}

.ferst-line { 
  color: #ffffff;
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: center;
  margin: 0;
  padding-top: 5px;
}

.second-line { 
  color: #ffffff;
  font-family: "Raleway - Heavy";
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 3px;
}

.blog-main__text { 
  width: 307px;
  height: 78px;
  color: #ffffff;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  margin-left: 20px;
  margin-top: 119px;
}

.blog-main__line1 {
  font-family: "Raleway - Bold";
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 5px;
}

.blog-main__line2 {
  font-family: "Raleway - Light";
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #A9ADA7;
}

/*Main block 1*/
.blog-main__block1 { 
  width: 370px;
  height: 310px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.774) 0%, rgba(255, 255, 255, 0) 100%), url(../image/img-1-block.png) no-repeat;
}

.blog-main__block1:hover{
  transform: translateY(-3px);
  box-shadow: 10px 10px 20px rgb(25, 0, 255);
}

/*Main block 2*/
.blog-main__block2 { 
  width: 370px;
  height: 310px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.774) 0%, rgba(255, 255, 255, 0) 100%), url(../image/img-2-block.png) no-repeat;
}

.blog-main__block2:hover{
  transform: translateY(-3px);
  box-shadow: 10px 10px 20px rgb(25, 0, 255);
}

/*Main block 3*/
.blog-main__block3 { 
  width: 370px;
  height: 310px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.774) 0%, rgba(255, 255, 255, 0) 100%), url(../image/img-3-block.png) no-repeat;
}

.blog-main__block3:hover{
  transform: translateY(-3px);
  box-shadow: 10px 10px 20px rgb(25, 0, 255);
}

/*Button*/
.block-button { 
  width: 200px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.644);
  background-color: #f72b3b;
  margin: 0 auto;
  display: block;
}

.block-button__button{
  color: #ffffff;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 17px;
}

.block-button__button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.block-button__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.37);
}

.block-button__button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.39);
}

/*link homework*/
.block-link{
  margin-top: 100px;
}

.link{
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content:center;
}